* {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  height: 100vh;
}
.part-1,
.part-2 {
  flex: 1;
  height: 100%;

}
.part-1 h4,
.part-2 h4{
  min-height: 10%;
  

}
.sub_part-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;
  justify-content: center;
  height: 90%;
 
}


.sub_part-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    justify-content: center;
    height: 90%;
  
  }


h1,h2{
    font-size: 2rem;
}

button{
    margin: 1rem 0rem;
}

.text{
    min-height: 40%;
    display: flex;
    flex-direction: column;
}
button{
    margin: 2rem 0 0 0;
    padding: 1rem 2rem;
}

